# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/

# NuGet Packages
*.nupkg
**/packages/*

# Others
*.log
*.tmp
*.temp